:root {
    --background1: #2c3e50; /* Dark Blue Gray */
    --background2: #2980b9; /* Blue */
    --background3: #ecf0f1; /* Light Gray */
    --background4: #27ae60; /* Green */
    --text-color: #000000; /* Black */
    --accent-color: #f39c12; /* Orange */
    --hover-color: #f1c40f; /* Yellow */
}

/* --------------global-----------------  */

body {
    background-color: var(--background3);
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
}

h2 {
    font-size: 40px;
    text-decoration: underline solid var(--accent-color);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* ----------header------------ */

.logo {
    margin: 0 auto;
    padding: 2vh 4vw 5vw 4vw;
    
}

.logo img{
    max-height: 300 px;
}


/* -------------Main--------------- */

.banner>img {
    width: 10%;
}

main {
    padding-bottom: 0;
}


/* ------------------Home----------------- */

.home {
    background-image: url(/images/rest-bg.jpeg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.05);
    background-size: cover;
}

.home, .about {
    padding: 20px;
    border-radius: 5px;
}
.home>h2 {
    color: var(--text-color);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.home>p {
    margin: 0px 3vw;
    font-size: 20px;
    color: var(--text-color);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    line-height: 1.5;
}


/* -----------------Menu---------------- */

.menu>p {
    font-size: 20px;
    margin-left: 2vw;
    margin-bottom: 50px;
    color: var(--text-color);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

table,
th,
td {
    border: 2px solid var(--background1);
    color: var(--text-color);
    text-align:center;
}

th {
    font-size: 20px;
    padding: 20px 50px;
    background-color: var(--background1);
    color: var(--text-color);
}

td {
    padding: 10px 30px;
    text-align: center;
}

.menu-t {
    margin: 0 auto;
}

/* Mejora en los estilos de filas del menú */
tr:nth-child() {
    background-color: rgba(255, 255, 255, 0.2);
}

tr:nth-child():hover {
    background-color: rgba(216, 89, 89, 0.2);
}

/* ---------------New Arrivals--------------- */

.food-item {
    display: inline-flex;
    width: 300px;
    height: 450px;
    flex-direction: column;
    padding: 12px;
    margin: 5px 5px;
    border: 5px var(--background1) solid;
    border-radius: 30px;
    background-color: var(--background4);
    color: var(--text-color);
}

.food-item:hover {
    transform: scale(1.1);
    transition: 150ms;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.food-item>p {
    font-weight: bold;
}

.food-item>h6 {
    font-size: 25px;
    padding: 0;
    text-decoration: underline solid var(--accent-color);
}

.food-item>img {
    align-self: center;
    padding: 0;
    width: 300px;
    height: 200px;
    border: var(--background1) solid 5px;
}

.card {
    height: 100%;
    width: 100%;
}

/* Asegurar que las imágenes dentro de las cards tengan la misma altura */
.card-img-top {
    height: 200px; /* Ajusta según necesites */
    object-fit: cover; /* Para mantener la proporción de la imagen */
}

/* Si necesitas un tamaño específico para las cards */
.new-arrivals .card {
    min-height: 350px; /* Ajusta la altura mínima de las tarjetas */
}



/* -------------------About Us-------------  */

.about {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
}

.about>h2 {
    padding-top: 0px;
    color: var(--text-color);
}

.about>p {
    margin: 0px 2vw;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: var(--text-color);
}

.about>h5 {
    font-size: 30px;
    margin-left: 2vw;
    color: var(--text-color);
}

.reviews {
    margin: 0px 0.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: auto
}

.review-content {
    position: relative;
    padding: 12px;
    margin: 5px 5px;
    border: 5px var(--background1) solid;
    border-radius: 30px;
    background-color: var(--background3);
    padding-bottom: 10px;
    width: 45vw;
    max-width: 550px;
}

.rev-title {
    display: inline-flex;
    flex-direction: row;
}

.review-content>.rev-title>img {
    border: var(--background1) solid 4px;
    border-radius: 100px;
    height: 80px;
    display: inline-block;
}

.review-content>.rev-title>.name {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
    padding: 30px 0;
    color: var(--text-color);
}

.review-content>.rev {
    font-size: 22px;
    line-height: 40px;
    color: var(--text-color);
}

.review-content:hover {
    transform: scale(1.07);
    transition: 150ms;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.review-content>.rev-title>img:hover {
    transform: scale(1.5);
    transition: 150ms;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}


/* -------------footer----------------- */

footer {
    background-image: url(/images/banner-cropped.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

footer .address {
    color: var(--text-color);
    font-size: 18px;
    padding-left: 2vw;
    font-weight: bold;
    line-height: 40px;
}

.cont-h {
    color: var(--text-color);
    font-size: 22px;
    font-weight: bolder;
    text-decoration: underline solid 2px var(--text-color);
}


/* ------------Responsive------------- */

@media screen and (max-width: 750px) {
    .food-item {
        width: 43%;
        height: 300px;
        padding: 5px;
        margin: 5px 5px;
    }
    .food-item>h6 {
        font-size: 18px;
        margin: 25px 0px 20px 0px;
        text-decoration: underline solid var(--accent-color);
    }
    .food-item>p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .food-item>img {
        align-self: center;
        padding: 0;
        width: 38vw;
        height: 125px;
        border: var(--background1) solid 3px;
    }
}

@media screen and (max-width:880px) {
    .review-content {
        width: 75vw;
    }
}


/* ---------------navbar------------------ */

/* Navbar Styles */
.navbar {
    padding: 10px 20px;
    background-color: var(--background2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-item {
    background-color: var(--accent-color);
    text-align: center;
    color: var(--text-color);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid var(--background1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    box-sizing: border-box;
}

.nav-item>a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.nav-item:hover {
    background-color: var(--hover-color);
    color: var(--background1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
    max-height: 60px; /* Ajusta la altura del logo si es necesario */
}

@media screen and (max-width: 1110px) {
    .navbar {
        flex-wrap: wrap;
    }
    .nav-item {
        width: 45%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        flex-direction: column;
    }
    .nav-item {
        width: 100%;
        margin: 10px 0;
    }
}


