.navbar {
    clear: both;
    margin: 0 auto; /* Centramos el navbar */
    padding: 0.75vw 0.75vw;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    background-color: var(--accent-color);
    width: auto; /* Ajusta el ancho al contenido en lugar de ocupar toda la pantalla */
    text-align: center;
    color: var(--text-color);
    margin: 5px;
    padding: 10px 20px; /* Ajuste de padding */
    border-radius: 15px;
    font-size: 1.2rem;
    border: 2px solid var(--background1);
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    background-color: var(--hover-color);
    color: var(--background1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-item>a {
    color: var(--text-color);
    text-decoration: none;
}

@media screen and (max-width:1110px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-item {
        width: 33vw; /* Ajuste en pantallas medianas */
    }
}

@media screen and (max-width:750px) {
    .navbar {
        flex-direction: column;
    }
    .nav-item {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    }
}
